/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------------------- Mobile Styles - General Styles --------------------*/

html {
	font-size: 1.13rem;
	background-color: #162a41;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #d1be9c;
	background-color: #162a41;
}

ul,
ol {
	list-style-type: none;
	font-size: 1rem;
	font-weight: bold;
	color: #d1be9c;
}

a {
	text-decoration: none;
	color: #d1be9c;
}

nav a:hover {
	border: 0.1rem solid #67c5de;
	border-radius: 1rem;
	padding: 0.4rem 1rem;
	background-color: #67c5de;
	color: #162a41;
	font-weight: bold;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.25rem;
	line-height: 2.25rem;
	font-weight: 500;
	margin: 1.7rem 0;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

h3,
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	margin: 0;
}

p {
	font-size: 0.875em;
}

span {
	color: #c65098;
}

img {
	width: 100%;
}

.content-wrapper {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
	margin: 20px 0;
}

/*-------------------- Mobile Styles - Base Header and Footer Styles --------------------*/

header {
	display: flex;
	justify-content: center;
	margin: 0;
}

header .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

.header-divider {
	border-bottom: 0.05rem solid #67c5de;
	width: 100%;
}

header nav {
	width: 60%;
	justify-content: center;
	align-content: center;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer .content-wrapper {
	width: 60%;
}

footer p {
	margin: 0;
}

footer .copyright {
	margin: 20px 0px;
}

/*------------------- Mobile Styles - Homepage - Hero Section -------------------*/

.hero-area {
	display: flex;
	justify-content: center;
	text-align: center;
}

.hero-image::after {
	background-image: url('../img/hero-image-world.jpg');
	background-size: cover;
	/* filter: blur(8px); */
	background-color: rgba(0, 0, 0, 0);
	/* background-blend-mode: multiply; */
	opacity: 0.5;
	padding: 0 0 0.5rem 0;
}

/*------------------- Mobile Styles - Homepage - Projects Section -------------------*/

.projects {
	margin: 4.44rem 0 2.22rem 0;
}

.portfolio-item {
	width: 90%;
	margin: 1.11rem 0;
}

.portfolio-item img {
	margin: 0 0 1.11rem 0;
}

.project-description {
	margin: 40px 0 30px 0;
}

.project-skills {
	margin: 0 0 0.5rem 0;
}

.project-tools {
	margin: 0;
}

/*------------------- Mobile Styles - Homepage - Skills Section -------------------*/

.skills {
	margin: 20px 0 80px 0;
}
.skills h2 {
	width: 100%;
}

.skills-icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 40px 0;
}
.skills i {
	font-size: 3.1rem;
	padding: 1.1rem;
	color: #67c5de;
}

.skills p {
	text-align: center;
	margin: 0;
	width: 90%;
}

/*------------------- Mobile Styles - Homepage - About Me Section -------------------*/

.about {
	margin: 80px 0;
}

.about h2 {
	width: 100%;
}
.about img {
	width: 70%;
	margin: 2.1rem;
	border: 0.85rem solid #67c5de;
	border-radius: 0% 100% 0% 100% / 37% 60% 40% 63%;
}

.about p {
	width: 90%;
}
/*------------------- Mobile Styles - Homepage - Contact Section -------------------*/
.contact {
	margin: 80px 0 60px 0;
}

.contact h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.contact-item {
	padding: 0.2rem 0.5rem;
}

.contact form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: row wrap;
	padding: 0;
	border-radius: 50%;
	width: 80%;
}

.form-item {
	margin: 0.5rem;
	padding: 1rem;
	width: 100%;
	border: 0.3rem solid #67c5de;
	border-radius: 0.5rem;
	color: #162a41;
}

.contact h3 {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.contact i {
	font-size: 5rem;
	justify-content: space-between;
	padding: 2rem;
	color: #67c5de;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
