/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------------------- Mobile Styles - General Styles --------------------*/

html {
	font-size: 1.13rem;
	background-color: #162a41;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: #d1be9c;
	background-color: #162a41;
}

ul,
ol {
	list-style-type: none;
	font-size: 1rem;
	font-weight: bold;
	color: #d1be9c;
}

a {
	text-decoration: none;
	color: #d1be9c;
}

nav a:hover {
	border: 0.1rem solid #67c5de;
	border-radius: 1rem;
	padding: 0.4rem 1rem;
	background-color: #67c5de;
	color: #162a41;
	font-weight: bold;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.25rem;
	line-height: 2.25rem;
	font-weight: 500;
	margin: 1.7rem 0;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

h3,
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	margin: 0;
}

p {
	font-size: 0.875rem;
}

span {
	color: #c65098;
}

img {
	width: 100%;
}

.content-wrapper {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
	margin: 20px 0;
}

/*-------------------- Mobile Styles - Base Header and Footer Styles --------------------*/

header {
	display: flex;
	justify-content: center;
	margin-top: 0;

}

header .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	margin: 10px 0 0 0;
}

nav .content-wrapper{
	width: 60%;
	justify-content: center;
	align-content: center;
	margin: 0 0 0 0;
	
}

header nav ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0;
}

.header-divider {
	border-bottom: 0.05rem solid #67c5de;
	width: 100%;
	margin-bottom: 40px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 60px;
}

footer .content-wrapper {
	width: 60%;
}

footer p {
	margin: 0;
}

footer .copyright {
	margin: 20px 0px;
}

/*------------------- Mobile Styles - Homepage - Hero Section -------------------*/

.hero-area {
	display: flex;
	justify-content: center;
	text-align: center;
}

.hero-image {
	background: url('../img/hero-image-world-desaturated-dark.jpg')
		#162a41;
	background-size: cover;
	background-position: center;
	padding: 0 0 10px 0;
}

/*------------------- Mobile Styles - Homepage - Projects Section -------------------*/

.projects {
	margin: 80px 0 20px 0;
}

.projects h2{
	margin-bottom: 20px;
}

.portfolio-item {
	width: 90%;
	margin: 0;
}

.portfolio-item img {
	margin: 0 0 20px 0;
}

.project-description {
	margin: 40px 0 30px 0;
}

.project-skills {
	margin: 0 0 0.5rem 0;
}

.project-tools {
	margin-bottom: 40px;
}

/*------------------- Mobile Styles - Homepage - Skills Section -------------------*/

.skills {
	margin: 0px 0 80px 0;
}
.skills h2 {
	width: 100%;
	margin-bottom: 40px;
}

.skills-icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0;
}
.skills i {
	font-size: 3.1rem;
	padding: 1.1rem;
	color: #67c5de;
}

.skills p {
	text-align: center;
	margin-top: 20px;
	width: 90%;
}

/*------------------- Mobile Styles - Homepage - About Me Section -------------------*/

.about {
	margin: 80px 0;
}

.about h2 {
	width: 100%;
}
.about img {
	width: 70%;
	margin: 40px;
	border: 0.85rem solid #67c5de;
	border-radius: 0% 100% 0% 100% / 37% 60% 40% 63%;
}

.about p {
	width: 90%;
}
/*------------------- Mobile Styles - Homepage - Contact Section -------------------*/
.contact {
	margin: 80px 0 60px 0;
}

.contact h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.contact-item {
	padding: 0.2rem 0.5rem;
}

.contact form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: row wrap;
	padding: 0;
	border-radius: 50%;
	width: 80%;
	margin-top: 30px;
}

.form-item {
	margin: 0.5rem;
	padding: 1rem;
	width: 100%;
	border: 0.3rem solid #67c5de;
	border-radius: 0.5rem;
	color: #162a41;
}

.contact h3 {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.contact i {
	font-size: 5rem;
	justify-content: space-between;
	padding: 30px;
	color: #67c5de;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
	/* Tablet Styles Here */

	/*-------------------- Tablet Styles - General Styles --------------------*/

	html {
		font-size: 2rem;
	}

	.content-wrapper {
		max-width: 100%;
		margin: 80px 0;
	}

	h1 {
		font-size: 3em;
		padding-bottom: 40px;
	}

	h2 {
		font-size: 2.25em;
	}

	h3 {
		font-size: 1.4em;
	}

	p{
		font-size: 1rem;
	}

	/*-------------------- Tablet Styles - Base Header and Footer Styles --------------------*/

	header {
		display: flex;
		justify-content: center;
		padding: 0;
	}

	header .content-wrapper {
		align-items: flex-end;
	}

	header nav {
		width: 70%;
		margin: 80px 0;
	}

	header nav ul {
		display: flex;
		justify-content: space-around;
		margin: 0;
		padding 0;
	}

	.header-divider {
		display: none;
	}

	footer .content-wrapper {
		width: 60%;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		margin-bottom: 80px;
	}

	footer .copyright {
		width: 100%;
	}

	/*------------------- Tablet Styles - Homepage - Hero Section -------------------*/


	.hero-area p {
		width: 70%;
	}


	.hero-image {
		width: 100%;
		max-height: fit-content;
		margin: 0 0 80px 0;
	}

	/*------------------- Tablet Styles - Homepage - Projects Section -------------------*/

	.projects {
	margin: 120px 0 80px 0;
	}

	.projects h2 {
	width: 100%;
	margin-bottom: 80px;
	}

	.projects h3 {
		text-align: center;
		margin: .2rem 0 40px 0;
	}

	.portfolio-item {
		width: 41%;
		margin: 0 .75rem;
	}

	.portfolio-item img {
		width: 100%;
		margin: 0 0 0 0;
	}

	.project-description {
		margin: 40px 0 0 0;
		/* height: 18rem; */
	}

	.project-skills {
		margin: 40px 0 20px 0;
	}

	.project-tools {
		margin: 0 0 80px 0;
	}

	/*------------------- Tablet Styles - Homepage - Skills Section -------------------*/

	.skills {
		margin: 0 0 120px 0;
	}

	.skills h2 {
		margin: 0;
	}

	.skills-icons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin: 40px 0;
	}

	.skills i {
		font-size: 4.5rem;
		padding: 1.5rem;
		color: #67c5de;
	}

	.skills p {
		margin: 30px 0 0 0;
	}

/*------------------- Table Styles - Homepage - About Me Section -------------------*/

	.about {
		margin: 120px 0;
	}

	.about h2 {
		width: 100%;
		margin-bottom: 40px;
	}

	.about p {
		width: 80%;
		margin: 40px 0 0 0;
	}

/*------------------- Tablet Styles - Homepage - Contact Section -------------------*/
	.contact {
		margin: 120px 0 80px 0;
	}

	.contact h2 {
		width: 100%;
		text-align: center;
		margin-bottom: 80px;
	}

	.contact-item {
		width: 60%;
		padding: 0.2rem 0.5rem;
		text-align: center;
	}

	.contact form {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: row wrap;
		padding: 0;
		border-radius: 50%;
		width: 70%;
		margin: 40px;
	}

	.form-item {
		margin: 0.5rem;
		padding: 1rem;
		width: 100%;
		border: 0.3rem solid #67c5de;
		border-radius: 0.5rem;
		color: #162a41;
	}

	.contact h3 {
		width: 100%;
		text-align: center;
	}

	.contact i {
		font-size: 6rem;
		justify-content: space-evenly;
		padding: 2rem;
		color: #67c5de;
	}


}


@media only screen and (min-width: 1200px) {
	/* Desktop Styles Here */

	/*-------------------- Desktop Styles - General Styles --------------------*/

	.content-wrapper {
		max-width: 950px;
	}

	h1 {
		font-size: 3.75em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3,
	h4 {
		font-size: 1.875em;
	}

	p {
		font-size: 1.125em;
		line-height: 1.5rem;
	}

	/*-------------------- Desktop Styles - Base Header and Footer Styles --------------------*/

	header {
		padding: 15px 0;
	}

	footer h3 {
		width: 70%;
	}

	/*------------------- Desktop Styles - Homepage -------------------*/

	/* Hero Area */

	main .hero-area h1 {
		width: 80%;
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
